<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <h:outputStylesheet library="css" name="styles.css" />
        <title>#{msgs.windowTitle}</title>
    </h:head>
    <h:body>
        <h:form>
            <h:dataTable value="#{tableData.names}" var="name">

                <f:facet name="caption">An Array of Names</f:facet>

                <h:column headerClass="columnHeader" footerClass="columnFooter">
                    <f:facet name="header">#{msgs.lastnameColumn}</f:facet>

                    #{name.last},

                    <f:facet name="footer">#{msgs.leftFoot}</f:facet>
                </h:column>

                <h:column headerClass="columnHeader" footerClass="columnFooter">
                    <f:facet name="header">#{msgs.firstnameColumn}</f:facet>

                    #{name.first}

                    <f:facet name="footer">#{msgs.rightFoot}</f:facet>
                </h:column>
            </h:dataTable>
        </h:form>
    </h:body>
</html>
